@media screen and (max-width: 1157px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .work {
    padding-top: 0;
  }

  .work ul {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
